.swiper-button-next,
.swiper-button-prev {
  color: white;
  width: 40px;
  height: 40px;
  background-color: var(--chakra-colors-accentColor); 
  border-radius: 50%;
}



.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px; 
}